bottles.cmd
fubu.cmd
pak-*
src/packages
*.suo
src/**/bin
src/**/obj
*.ReSharper.*
src/CommonAssemblyInfo.csw
src/CommonAssemblyInfo.cs
src/_ReSharper*.*
*.csproj.user
src/*/fubu-content
artifacts
results
logs
Gemfile.lock
*.DotSettings*
.bottle-alias
local.config
