push.bat
TestResult.xml
build
build35
artifacts
obj
bin
deploy
deploy/*
src/CommonAssemblyInfo.cs
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
~$*
*.userprefs
*.pidb
test-results
src/packages
*.dotCover
src/*/repositories.config
.bottle-alias
results
*.DotSettings.user
*.DotSettings
bottles.cmd
fubu.cmd
storyteller.cmd
run_st.cmd
src/ExportHarness/fubu-content/*
!src/ExportHarness/fubu-content/*.zip
*.dotCover
src/*/repositories.config
.bottle-alias
chromedriver.log
results
Controls
External
testEditor.css
Firefly-results
Core
editor.htm
history.xml
*.DotSettings.user
Scenarios.zip
bottles.cmd
fubu.cmd
*.idea
src/baseline
src/data
storyteller.cmd
run_st.cmd
*.results.htm
*.swp
missing.locale.config
publish/
temp/
logs/
local.config
*.esent/
errors
errors.csv
success.csv
errors-archive
pak*.zip
